.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
	outline: none !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.Mui-even {
	background-color: #fcfcfc;
}

.edit-icon {
	color: transparent !important;
}

.Mui-even:hover .edit-icon,
.Mui-odd:hover .edit-icon {
	color: #8a8a8a !important;
	cursor: pointer;
}
